/* Sidebar.css */

.sidebar-container {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 0px;

  height: 100dvh;
}

.sidebar {
  width: 250px; /* Adjust width as needed */
  background-color: #000000; /* Adjust background color as needed */
  border-right: 1px solid #e5e7eb; /* Adjust border color and thickness as needed */
}

.sidebar-header {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.sidebar-title {
  font-size: 1.5rem;
  color: #4f46e5;
}

.sidebar-menu {
  padding: 1rem;
  list-style: none;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  color: #6b7280;
  text-decoration: none;
}

.sidebar-icon {
  margin-right: 0.5rem;
}

.sidebar-text {
  font-size: 1rem;
  color: white;
}

.logout {
  margin-top: 5rem;
}
