.appointments-container {
  display: flex;
  padding: 2%;
  gap: 3%;
  width: 80%;
}

.table-title {
  font-size: 24px;
}

/* Table container */
.table-container {
  margin-bottom: 40px;
}

/* Table */
.appointment-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}
.appointment-list {
  margin-top: 50px;
}

.appointment-requests {
  margin-top: 50px;
}

/* Table header and footer */
.table-heading {
  background-color: #0b0b0d;
  color: #ffffff;
  padding: 12px;
  text-align: left;
}

/* Table body */
.table-body {
  background-color: #ffffff;
}

/* Table row */
.table-row {
  border-bottom: 1px solid #ddd;
}

/* Table data */
.table-data {
  padding: 12px;
  text-align: left;
}

/* Accept button */
.accept-button {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

/* Reject button */
.reject-button {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
