.ed-container {
  max-width: 600px;

  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}
.h1 {
  font-size: 24px;
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group .form-group {
  width: 48%;
}

.uploaded-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.uploaded-photo {
  position: relative;
}

.uploaded-photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.uploaded-photo .btn-danger {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 5px;
  font-size: 12px;
}
